@import url('https://fonts.googleapis.com/css2?family=Kodchasan&display=swap');
* {
    font-family: "Kodchasan", sans-serif
}

@import"~slick-carousel/slick/slick.css";
@import"~slick-carousel/slick/slick-theme.css";

@media(max-width: 991px) {
    .carousel-indicators.position-relative.d-flex.justify-content-start.owl-dots {
        justify-content: center
    }
}

@media(max-width: 767px) {
    .item.header-text.text-start.carousel-caption {
        text-align: center !important
    }
}

.font-bold {
    font-weight: bold
}

.slick-dots li button:before {
    color: #ff1212
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #ff1212
}

.color-ff3d3d {
    color: #ff1212
}

.main-banner .carousel-caption {
    left: 0% !important
}

.item.profile {
    display: flex !important;
    margin-left: 5px;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    align-content: center
}

.show-img .modal-content {
    background-color: unset
}

.show-img .modal-dialog {
    padding: 1rem;
    background: unset
}

.show-img .modal-dialog img {
    -o-object-fit: contain;
    object-fit: contain
}

.slick-prev {
    color: #e61203
}

.slick-next {
    color: #e61203
}

.slick-prev:before {
    content: "←";
    color: #e61203;
    font-size: 23px
}

.slick-next:before {
    content: "→";
    color: #e61203;
    font-size: 23px
}